@using PokerBoom.Shared.Models;
@using MudBlazor;

@if (ReviewGameInformation.CurrentPlayer == ReviewGamePlayer.Username)
{
    <MudPaper>
        <MudText>@ReviewGamePlayer.Username (@ReviewGamePlayer.Stack)</MudText>
        <MudText Style="background-color: white; color:black;">@ReviewGamePlayer.Bet</MudText>
        <div style="position:relative">
            <img style="position:absolute" width="70" height="100" src="/img/cards/@string.Concat(ReviewGamePlayer.HandCards[0],".png")">
            <img style="position:absolute; left: 80px;" width="70" height="100" src="/img/cards/@string.Concat(ReviewGamePlayer.HandCards[1],".png")">
        </div>
    </MudPaper>
}
else 
{
    <MudPaper>
        <MudText>@ReviewGamePlayer.Username (@ReviewGamePlayer.Stack)</MudText>
        <MudText Style="background-color: black; color:white;">@ReviewGamePlayer.Bet</MudText>
        <div style="position:relative">
            <img style="position:absolute" width="70" height="100" src="/img/cards/@string.Concat(ReviewGamePlayer.HandCards[0],".png")">
            <img style="position:absolute; left: 80px;" width="70" height="100" src="/img/cards/@string.Concat(ReviewGamePlayer.HandCards[1],".png")">
        </div>
    </MudPaper>
}

@code {
    [Parameter]
    public ReviewGameInformation ReviewGameInformation { get; set; }
    [Parameter]
    public ReviewGamePlayer ReviewGamePlayer { get; set; }
}
